* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ::after,
  ::before {
    box-sizing: border-box;
  }
  html,
  body {
    font-family: "Hind", sans-serif;
    font-family: "Nunito", sans-serif;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
  }
  :root {
    --primary-color: rgb(4, 54, 74);
    --second-color: rgb(23,107,135);
    --third-color: rgb(100,204,197);
    --fourth-color: rgb(218, 255, 251);
    --heading-color: #0b2727;
    --text-color: #6e7074;
  }
  body,
  button,
  input,
  select,
  optgroup,
  textarea {
    color: #404040;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
  }
  a,
  a:hover {
    text-decoration: none;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all 0.5s;
  }
  body a {
    text-decoration: none;
  }
  .container {
    margin: auto;
  }
  
  li {
    display: inline-block;
    list-style: none;
  }
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .clear {
    flex: none;
  }


  /* Experiences */
  counter__wrapper {
    margin-top: 1.6rem;
}
.section__subtitle {
  background: #faa935;
  background: var(--secondary-color);
  border-radius: 50px;
  color: #0b2727;
  color: var(--heading-color);
  font-family: Island Moments,cursive;
  font-family: var(--subtitle-font-name);
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0 1rem 0 .5rem;
  width: -webkit-max-content;
  width: max-content;
}

.gap-5 {
  gap: 3rem!important;
}
align-items-center {
    align-items: center!important;
}

  /* Subcribie */
  .newsletter__content {
    padding: 50px 0;
  }
:root {
  --primary-color: #ff7e01;
  --secondary-color: #faa935;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat",sans-serif;
  --subtitle-font-name: "Island Moments",cursive;
}

.newsletter__content h2 {
  font-size: 2rem;
  margin-bottom: 1.4rem;
}

.newsletter__input {
  align-items: center;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: .8rem;
  padding: .4rem;
}

.newsletter__input input {
  border: none;
  color: var(--heading-color);
  font-size: 1rem;
}

.newsletter__input {
  align-items: center;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: .8rem;
  padding: .4rem;
}

.newsletter__btn {
  background: var(--secondary-color)!important;
  color: #fff!important;
  font-size: 1rem!important;
  padding: .5rem 1.5rem!important;
}

newsletter__content {
  padding: 50px 0;
}

.subcribe{
  background: #cae5f4;
  margin-top: 3rem;
  padding: 0;
}

counter__wrapper {
  margin-top: 1.6rem;
}

.counter__box span {
  align-items: center;
  background: #ff7e01;
  background: var(--primary-color);
  border-radius: 10px 5px 10px 5px;
  color: #fff;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  height: 70px;
  justify-content: center;
  margin: auto;
  width: 70px;
}

/* FOOTER */
.footer {
  padding-bottom: 30px;
  padding-top: 70px;
}
.footer .logo img {
  margin-bottom: 1rem;
  width: 60%;
}
.footer .logo p {
    color: var(--text-color);
    font-size: 1rem;
}
.social__link span a {
  color: var(--heading-color);
  font-size: 1.5rem;
  text-decoration: none;
}

