* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ::after,
  ::before {
    box-sizing: border-box;
  }
  html,
  body {
    font-family: "Hind", sans-serif;
    font-family: "Nunito", sans-serif;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
  }
  :root {
    --primary-color: rgb(4, 54, 74);
    --second-color: rgb(23,107,35);
    --third-color: rgb()
  }
  body,
  button,
  input,
  select,
  optgroup,
  textarea {
    color: #404040;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
  }
  a,
  a:hover {
    text-decoration: none;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all 0.5s;
  }
  body a {
    text-decoration: none;
  }
  .container {
    margin: auto;
  }
  
  li {
    display: inline-block;
    list-style: none;
  }
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .clear {
    flex: none;
  }
  